* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.fr-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}